<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-top">
        <ul class="footer-menu">
          <li>
            <a href="#" title="Fırsatlar & Kampanyalar">Fırsatlar & Kampanyalar</a>
          </li>
          <li>
            <a href="#" title="İstasyon Sorgula">İstasyon Sorgula</a>
          </li>
          <li>
            <a href="#" title="Kurumsal">Kurumsal</a>
          </li>
          <li>
            <a href="#" title="Lojistik">Lojistik</a>
          </li>
          <li>
            <a href="#" title="Engelsiz Ulaşım">Engelsiz Ulaşım</a>
          </li>
          <li>
            <a href="#" title="Müşteri İlişkileri">Müşteri İlişkileri</a>
          </li>
          <li>
            <a href="#" title="Bize Ulaşın">Bize Ulaşın</a>
          </li>
        </ul>
      </div>
      <div class="footer-middle">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-auto">
            <div class="footer-mobile-apps">
              <a href="#" title="Google Play" target="_blank">
                <img src="./img/play-store.png" alt="Google Play">
              </a>
              <a href="#" title="App Store" target="_blank">
                <img src="./img/app-store.png" alt="App Store">
              </a>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="footer-socials">
              <ul>
                <li>
                  <a href="#" title="Instagram" target="_blank">
                    <img src="./img/icons/icon-instagram.svg" alt="Instagram">
                  </a>
                </li>
                <li>
                  <a href="#" title="Twitter" target="_blank">
                    <img src="./img/icons/icon-twitter.svg" alt="Twitter">
                  </a>
                </li>
                <li>
                  <a href="#" title="Facebook" target="_blank">
                    <img src="./img/icons/icon-facebook.svg" alt="Facebook">
                  </a>
                </li>
                <li>
                  <a href="#" title="Gmail" target="_blank">
                    <img src="./img/icons/icon-gmail.svg" alt="Gmail">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto order-lg-1 order-2">
            <div class="footer-copyright">
              <p> © 2020 TCDD Taşımacılık </p>
            </div>
          </div>
          <div class="col-auto order-lg-2 order-1">
            <div class="footer-sub-menu">
              <ul>
                <li>
                  <a href="#" title="Basın">Basın</a>
                </li>
                <li>
                  <a href="#" title="Haberler">Haberler</a>
                </li>
                <li>
                  <a href="#" title="Duyurular">Duyurular</a>
                </li>
                <li>
                  <a href="#" title="İhaleler">İhaleler</a>
                </li>
                <li>
                  <a href="#" title="Bilgi Toplum Hizmetleri">Bilgi Toplum Hizmetleri</a>
                </li>
                <li>
                  <a href="#" title="Kişisel Verileri Koruma Kanunu">Kişisel Verileri Koruma Kanunu</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>