<!DOCTYPE html>
<html lang="tr">
  <head>
    @include('./shared/import-head.html')
    <title>TCDD Taşımacılık | Ana Sayfa</title>
  </head>
  <body>
    @include('./shared/header.html')

    <main>
      @include('./partials/search.html')
      @include('./partials/introduction.html')
      @include('./partials/gallery.html')
      @include('./partials/campaign.html')
      @include('./partials/seo-area.html')
      @include('./partials/news.html')
    </main>

    @include('./shared/footer.html')
    @include('./shared/import-script.html')
  </body>
</html>
