<section class="campaign-section">
    <div class="section-titles">
        <div class="section-title">KAMPANYALAR</div>
        <div class="section-sub-title">Kampanyaları takip ederek avantajlı fiyatlarla seyahatin keyfini daha fazla çıkarın…</div>
    </div>
    <div class="campaign-content owl-carousel owl-theme" id="campaign-content">
        <div class="campaign-item">
            <a href="#" title="84 tl’den başlayan Fiyatlarla…">
                <img src="./img/campaign-1.jpg" alt="84 tl’den başlayan Fiyatlarla…">
                <p>
                    <strong>Ankara</strong>
                    <span>
                        <strong>84 tl’</strong>den başlayan Fiyatlarla…
                    </span>
                </p>
            </a>
        </div>
        <div class="campaign-item">
            <a href="#" title="289 tl’den başlayan">
                <img src="./img/campaign-2.jpg" alt="Fiyatlarla…">
                <p>
                    <strong>Doğu Ekspresi</strong>
                    <span>
                        <strong>289 tl’</strong>den başlayan Fiyatlarla…
                    </span>
                </p>
            </a>
        </div>
        <div class="campaign-item">
            <a href="#" title="84 tl’den başlayan">
                <img src="./img/campaign-3.jpg" alt="Fiyatlarla…">
                <p>
                    <strong>İzmir</strong>
                    <span>
                        <strong>84 tl’</strong>den başlayan Fiyatlarla…
                    </span>
                </p>
            </a>
        </div>
        <div class="campaign-item">
            <a href="#" title="65 tl’den başlayan Fiyatlarla…">
                <img src="./img/campaign-4.jpg" alt="65 tl’den başlayan Fiyatlarla…">
                <p>
                    <strong>YHT İST-ANK</strong>
                    <span>
                        <strong>65 tl’</strong>den başlayan Fiyatlarla…
                    </span>
                </p>
            </a>
        </div>
        <div class="campaign-item">
            <a href="#" title="84 tl’den başlayan Fiyatlarla…">
                <img src="./img/campaign-5.jpg" alt="84 tl’den başlayan Fiyatlarla…">
                <p>
                    <strong>Ankara</strong>
                    <span>
                        <strong>84 tl’</strong>den başlayan Fiyatlarla…
                    </span>
                </p>
            </a>
        </div>
        <div class="campaign-item">
            <a href="#" title="65 tl’den başlayan Fiyatlarla…">
                <img src="./img/campaign-4.jpg" alt="65 tl’den başlayan Fiyatlarla…">
                <p>
                    <strong>YHT İST-ANK</strong>
                    <span>
                        <strong>65 tl’</strong>den başlayan Fiyatlarla…
                    </span>
                </p>
            </a>
        </div>
        <div class="campaign-item">
            <a href="#" title="84 tl’den başlayan Fiyatlarla…">
                <img src="./img/campaign-5.jpg" alt="84 tl’den başlayan Fiyatlarla…">
                <p>
                    <strong>Ankara</strong>
                    <span>
                        <strong>84 tl’</strong>den başlayan Fiyatlarla…
                    </span>
                </p>
            </a>
        </div>
    </div>
    <div class="section-button">
        <a href="#" title="Daha Fazla">Daha Fazla</a>
    </div>
 </section>