<section class="gallery-section">
    <div class="container">
        <div class="section-titles">
            <div class="section-title title-black">BİZİMLE GEZİN</div>
            <div class="section-sub-title">Türkiye’nin tüm güzelliklerini tren yolculuğunda görmeye ne dersiniz…</div>
        </div>
        <div class="gallery-row">
            <div class="gallery-column-left">
                <div class="gallery-item mb-md-4">
                    <a href="#" title="Kars">
                        <img src="./img/gallery-1.jpg" alt="Kars">
                        <span>Kars</span>
                    </a>
                </div>
                <div class="gallery-item">
                    <a href="#" title="Eskişehir">
                        <img src="./img/gallery-2.jpg" alt="Eskişehir">
                        <span>Eskişehir</span>
                    </a>
                </div>
            </div>
            <div class="gallery-column-center">
                <div class="gallery-item">
                    <a href="#" title="Van Gölü Ekspresi">
                        <img src="./img/gallery-3.jpg" alt="Van Gölü Ekspresi">
                        <span>Van Gölü Ekspresi</span>
                    </a>
                </div>
            </div>
            <div class="gallery-column-right">
                <div class="gallery-item">
                    <a href="#" title="İzmir - Bandırma Ekspresi">
                        <img src="./img/gallery-4.jpg" alt="İzmir - Bandırma Ekspresi">
                        <span>İzmir - Bandırma Ekspresi</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="section-button">
            <a href="#" title="Daha Fazla">Daha Fazla</a>
        </div>
    </div>
</section>