<section class="news-section">
    <div class="section-titles">
        <div class="section-title">HABERLER</div>
        <div class="section-sub-title">Kampanyaları takip ederek avantajlı fiyatlarla seyahatin keyfini daha fazla çıkarın…</div>
    </div>
    <div class="news-content owl-carousel owl-theme" id="news-content">
        <div class="news-item">
            <a href="#" title="Haber Başlık 1">
                <img src="./img/news.jpg" alt="Haber Başlık 1">
            </a>
        </div>
        <div class="news-item">
            <a href="#" title="Haber Başlık 2">
                <img src="./img/news.jpg" alt="Haber Başlık 2">
            </a>
        </div>
        <div class="news-item">
            <a href="#" title="Haber Başlık 1">
                <img src="./img/news.jpg" alt="Haber Başlık 1">
            </a>
        </div>
        <div class="news-item">
            <a href="#" title="Haber Başlık 2">
                <img src="./img/news.jpg" alt="Haber Başlık 2">
            </a>
        </div>
        <div class="news-item">
            <a href="#" title="Haber Başlık 1">
                <img src="./img/news.jpg" alt="Haber Başlık 1">
            </a>
        </div>
        <div class="news-item">
            <a href="#" title="Haber Başlık 2">
                <img src="./img/news.jpg" alt="Haber Başlık 2">
            </a>
        </div>
    </div>
    <div class="section-button">
        <a href="#" title="Daha Fazla">Daha Fazla</a>
    </div>
 </section>