<section class="seo-area-section">
    <div class="container">
        <div class="seo-area">
            <div class="seo-area-content">
                <div class="section-titles">
                    <div class="section-title">NEDEN TREN YOLCULUĞU?</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="seo-area-item">
                            <div class="seo-area-icon">
                                <img src="./img/icons/icon-seo-area-1.svg" alt="Şehir Merkezi">
                            </div>
                            <div class="seo-area-text">
                                <h3>ŞEHİR MERKEZİ</h3>
                                <p>
                                    Tren yolculuklarının en güzel yanlarından bir 
                                    tanesi de tren istasyonlarının genellikle
                                    şehir merkezlerinde olması. .
                                </p>
                            </div>
                            <div class="seo-area-link">
                                <a href="#" title="Devamını oku">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="seo-area-item">
                            <div class="seo-area-icon">
                                <img src="./img/icons/icon-seo-area-2.svg" alt="Tasarruf">
                            </div>
                            <div class="seo-area-text">
                                <h3>TASARRUF</h3>
                                <p>
                                    Tren yolculukları uçak ve otobüs yolculuklarına göre 
                                    daha uygun maliyetlerle yolculuk yapmaya 
                                    imkan tanıyor. 
                                </p>
                            </div>
                            <div class="seo-area-link">
                                <a href="#" title="Devamını oku">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="seo-area-item">
                            <div class="seo-area-icon">
                                <img src="./img/icons/icon-seo-area-3.svg" alt="Bagaj">
                            </div>
                            <div class="seo-area-text">
                                <h3>BAGAJ</h3>
                                <p>
                                    Tren yolculuklarında bagaj sınırı olmadığı için 
                                    yanınıza almanız gereken eşyalardan
                                    feragat etmek zorunda kalmazsınız.
                                </p>
                            </div>
                            <div class="seo-area-link">
                                <a href="#" title="Devamını oku">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="seo-area-item">
                            <div class="seo-area-icon">
                                <img src="./img/icons/icon-seo-area-4.svg" alt="Konfor ve Özgürlük">
                            </div>
                            <div class="seo-area-text">
                                <h3>KONFOR VE ÖZGÜRLÜK</h3>
                                <p>
                                    Yolculukların en büyük nimetlerinden bir 
                                    tanesi oturduğunuz koltukların konforlu 
                                    olması ve ayaklarınızı dilediğiniz 
                                </p>
                            </div>
                            <div class="seo-area-link">
                                <a href="#" title="Devamını oku">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="seo-area-item">
                            <div class="seo-area-icon">
                                <img src="./img/icons/icon-seo-area-5.svg" alt="Trafik Sorunu">
                            </div>
                            <div class="seo-area-text">
                                <h3>TRAFİK SORUNU</h3>
                                <p>
                                    Karayolu trafiği olur havayolu trafiği olur ama demiryolu 
                                    trafiği olmaz.trafiği olur havayolu trafiği 
                                    olur ama demiryolu trafiği olmaz.
                                </p>
                            </div>
                            <div class="seo-area-link">
                                <a href="#" title="Devamını oku">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="seo-area-item">
                            <div class="seo-area-icon">
                                <img src="./img/icons/icon-seo-area-6.svg" alt="Çevre Dostu">
                            </div>
                            <div class="seo-area-text">
                                <h3>ÇEVRE DOSTU</h3>
                                <p>
                                    Trenler bilinen tüm ulaşım araçları aradında
                                    çevreye en az zarar veren araçtır.Gerek 
                                    gürültü, gerek carbon…
                                </p>
                            </div>
                            <div class="seo-area-link">
                                <a href="#" title="Devamını oku">Devamını oku</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-button">
                    <a href="#" title="Hemen Bilet al…">Hemen Bilet al…</a>
                </div>
            </div>
        </div>
    </div>
</section>