$primary-100: #4B606C;
$primary-200: #807777;
$primary-300: #F8F8F8;
$primary-400: #707070;
$primary-500: #5E6D77;
$primary-600: #EFF0F6;
$primary-700: #A0A9B2;
$secondary-100: #1C8FD1;
$secondary-200: #E3251C;
$white: #ffffff;
$transition: ease-in-out all .4s;
$shadow: 0 3px 6px rgba(0,0,0,0.1);