<nav class="navigation">
  <ul>
    <li>
      <a href="#" title="Fırsatlar & Kampanyalar">Fırsatlar & Kampanyalar</a>
    </li>
    <li>
      <a href="#" title="İstasyon Sorgula">İstasyon Sorgula</a>
    </li>
    <li>
      <a href="#" title="Kurumsal">Kurumsal</a>
    </li>
    <li>
      <a href="#" title="Lojistik">Lojistik</a>
    </li>
    <li>
      <a href="#" title="Engelsiz Ulaşım">Engelsiz Ulaşım</a>
    </li>
    <li>
      <a href="#" title="Müşteri İlişkileri">Müşteri İlişkileri</a>
    </li>
    <li>
      <a href="#" title="Bize Ulaşın">Bize Ulaşın</a>
    </li>
  </ul>
</nav>